.big {
    width: 85%;
    margin-left: 6%;
}
.box {
    width: 10%;
}
.mediaHold {
    width: 15%;
    
}
.Card {
    /* width: 40%; */
};
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
};

.boxGroup {
    align-self: center;
}

.cardCol {
    align-self: center;
}