.CardModal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image {
  width: 25%;
  align-content: left;
}
.text {
  font-family: 'Arial Narrow';
  font-size: 30px;
  font-weight: bold;
  vertical-align: -30px;
  padding-left: 2%;
}
.horizontal {
  display: block;
  width: 70%;
  margin-top: 0;
  size: 50px;
}
.App {
  /* text-align: center; */
.header {
  display: flex;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  padding-left: 30%;
  align-content: center;
=
}
.list {
  text-align: center;
  display: inline-block;
  padding-left:60px;
  padding-right: 60px;
  justify-content: space-between;
  
}
.link {
  color: white;
  font-size: 15px;
}

ul{
  overflow: hidden;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

