/* post page */
.label {
  /* width: 100%; */
  /* height: 200px; */
  display: block;
  padding-top: 4%;
}
.media {
  float: center;
  display: block;
  width: 70%;
  
}
.media-body {
  width: 20%;
  
  
}
.profile-image {
  width: 100%;
  border-radius: 50%;
  
}
.persona {
 
  display: block;
  float: left;
  padding-bottom: 10%;
  /* padding-top: 2%; */
}
.persona-name {
  padding-top:4%;
  float: right;
  width: 100%;
  font-family: '"Lucida Sans Unicode", "Lucida Grande", sans-serif';
}
.persona-image {
  width: 50%;
  border-radius: 50%;
}
.side-content{
  width: 15%;
  float:left;
  padding-top: 1%;
  padding-left:1%;
}
.side-bar {
  /* padding-top: 15%; */
}
/*Card page*/
.CardModal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image {
  width: 25%;
  align-content: left;
}
.text {
  font-family: '"Lucida Sans Unicode", "Lucida Grande", sans-serif';
  font-size: 30px;
  font-weight: bold;
  vertical-align: -30px;
  padding-left: 2%;
}
.horizontal {
  display: block;
  width: 70%;
  margin-top: 0;
  size: 50px;
}
.App {
  text-align: center;
}
.header {
  display: flex;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  padding-left: 30%;
  align-content: center;
}

.list {
  text-align: center;
  display: inline-block;
  padding-left:10px;
  padding-right: 10px;
  justify-content: space-between;
  
}
.link {
  color: white;
  font-size: 15px;
}

ul{
  overflow: hidden;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

