.big {
    width: 71%;
    margin-left: 6%;
}
.box {
    width: 8%;
}
.mediaHold {
    width: 15%;
    
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
};